.skills{
    height:100%;
    width: 100%;
    background-color: white;
    display: flex;
    position: relative;


    

}

.skills__left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    

}

.skills__right{
    /* display: flex; */
    /* flex-direction: column; */
    flex: 1.5;
    padding:20px;
    /* align-items: center; */
    /* justify-content: center; */
    /* object-fit: cover; */
}

.right__1{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.right__2{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.right__img{
    width: 35%;
    align-items: center;
    height: 35%;

    border-radius:10%;
    justify-content: center;
    /* border: 1px solid lightgray; */
    /* border: 2px solid lightgray; */

    margin: 10px;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    object-fit: contain;


    

}

.right__img:hover{
    border-radius: 50%;
    transition:  ease-out 0.7s;


}


.skills__text{
    font-size:40px;
    font-weight:bold;
    color: #333333;
    /* font-family: "Work Sans",sans-serif; */
}

.skills__lang{
   
    margin-left: 100px;
    margin-right:50px;
    margin-top: 30px;
}

.skills__skills{
    margin-left: 100px;
    /* margin-right:50px; */

}

.skills__list{
    margin-left:40px;
    margin-top: 20px;
    color: #444444;
    font-weight: normal;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .skills{
        padding:10px;
        position: relative;
        display: flex;
        flex-direction: column;
        height:100%;
        
    }
    .skills__skills{
        margin-left:0px;
        margin-right: 0px;
    }

    .skills__lang{
        margin-left: 0px;
        margin-right: 0px;
    }

   
}


@media screen and (max-width: 900px) {
    .skills{
        position: relative;
        height:100%;
        display: flex;
        flex-direction: column;
        padding:20px;   
    }
    .skills__skills{
        margin-left:0px;
        margin-right: 0px;
    }
    .skills__lang{
        margin-left: 0px;
        margin-right: 0px;
    }
}
